 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     /* background-image: url('./assets/bg.png');
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-color: rgb(1, 1, 1, 0.3);
            background-blend-mode: multiply; */
     width: 100%;
     height: 100%;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
         url("./assets/bg.png");
     background-size: cover;
     background-attachment: fixed;
 }

 nav {
     width: 100%;
     height: 15vh;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px 0 20px;
     display: flex;

 }

 .logo {
     width: 100px;
 }

 nav ul {
     display: flex;
 }

 nav ul li {
     display: flex;
     text-decoration: none;
     color: #ffc800;
     padding: 15px;
     font-family: "Red Rose";
 }

 .order {
     padding: 10px 25px;
     color: #fff;
     background-color: #ff4500;
     border: none;
     font-family: "Red Rose";
 }

 .order:hover {
     background-color: #cd3a3a;
     font-weight: 600;
 }

 main {
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
     margin-top: 100px;
     text-align: center;
 }

 main h1 {
     font-size: 65px;
     font-family: "Dela Gothic One", cursive;
     letter-spacing: 3px;

     color: #ffc800;
 }

 main .more {
     margin-top: 25px;
     padding: 10px 25px;
     color: #fff;
     border: none;
     font-family: "Red Rose";
     background-color: #ff4500;
 }

 main .more:hover {
     background-color: #cd3a3a;
 }

 .scrool {
     position: absolute;
     bottom: 20px;
     right: 40px;
 }